/*-- fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Fira+Code:wght@300..700&display=swap');

h1 code {
  font-size: 1.3rem;
  background-color: #f0f0f0;
  padding: 0.2em;
  border-radius: 0.2em;
}

h2 code {
    font-size: 1.1rem;
}

.listing-subtitle a {
    color: #333 !important;
    pointer-events: none;
    texst-decoration: none;
    cursor: default;
tbody tr:hover {
  --bs-table-hover-bg: #e5effd !important;
}
a {
    color: #325cc0;
}
tbody tr:hover a {
    color: #000;
}

/*-- scss:defaults --*/
$toc-font-size: .95em;
$code-block-bg-padding: 1em;
$code-color: #333;
$code-font-size: .8rem;
$code-block-font-size: .80rem;

$navbar-bg: #fafafa;
$navbar-fg: #222;
